body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	color: #f5d643;
}

#center{
	text-align: center;
}
#binahlob{
		width: 100%
}

body{
	background-color: #000;
}
img {
	max-width: 100%;
	display: block;

}
h2 a:link{
	color: #544e38;
}

h2 a:hover{
	color: #f5d643;
}

h2 a:visited{
	color: #fdfaa3;
}
h2 a:active{
	color: #9b5f29;
}
.hero-image{
	width: 100%
}
#titled{
	text-align: center;
}

#minecraft{
	height: 152px;
	width: 50%;
	border: 0;
}

#sorrow{
	max-width: 50%;
	max-height: 60%;
}
#sangre{
	width: 50%;
	height: 50%;
}

#dreaming{
	max-width: 30%;
	max-height: 50%;
}
.inspiration a:link{
	color: #544e38;
}
.inspiration a:hover{
	color: #f5d643;
}
.inspiration a:visited{
	color: #fdfaa3;
}
.inspiration a:active{
	color: #9b5f29;
}
.frame{
	position: relative;
	max-width: 450 px;
	margin: 2% auto;
}
.pic-text{
	position: absolute;
	bottom: 33px;
	background: rgba(0, 0, 0, .3);
	color: #fff;
	width: 30%;
	padding: 20px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}
*{
	box-sizing: border-box;
}
#logo{
	max-height: 60%;
	max-width: 60%;
}

#form{
	margin-top: 2%;
	background-color: #5a5a5a;
	padding: 2%;
}

#form h2 {
	text-align: center;
}

/* Style rules for form elements */

fieldset, input, select, textarea {
	margin-bottom: 1%;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

label{
	display: block;
	padding-top: 1%;
}

form #submit {
	margin: 0 auto;
	border: none;
	display: block;
	padding: 2%;
	background-color: #3b3b3b;
	font-size: 1em;
	border-radius: 5px;
}


/* Style rules for mobile viewport */
/* Style rules for header*/
header{
	position: sticky;
	top: 0;
	background-color: #000;
	height: 190px;
}

header img{
	margin: 0 auto;
}

nav{
	padding: 1%;
	margin-bottom: 1%;

}

main{
	background-color: #000;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;

}

 nav ul{
	list-style-type:none;
	text-align: center;

}

nav li {
	font-size: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	border-top: 1px solid #fff;

}

nav li:first-child{
	border-top: none;
}

nav li a {
	display: block;
	color: #fff; /* white, rgb(255, 255, 255) */
	padding: .5em 1em;
	text-decoration: none;

}
/* Show mobile class, hide tablet-desktop class */
	.mobile, .mobile-nav{
		display: block;
	}

	.tablet-desktop, .menu-links{
		display: none;
	}


footer p {
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer a {
	color: #fff;
	text-decoration: none;
}

.external-link {
	color: 660;
	font-weight: bold;
	text-decoration: none;
}

iframe{
	height: 450px;
	width: 100%
}

#BinahQuote{
	color: #F5BD02;
	font-family: 'Times New Roman', 'Courier New', Garamond;
	font-style: italic;
	background-color: rgba(204, 204, 204, 0.3);
}

.quoteCredits{
	font-size: 15px;
	font-style: italic;
}

.mobile-nav a{
	color: #f5d643;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 2%;
	display: block;
}

.mobile-nav a.menu-icon{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/* Logo animation */
@keyframes spinOnce {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Class that triggers the spin */
.spin-once {
    animation: spinOnce 0.6s ease; /* spin duration */
}


/* Media Query for Tablet Viewport */
	@media screen and (min-width: 630px){
	
	/*Tablet table */
	table{
		border: 1px solid #000;
		margin: 0 auto;
		width: 100%;
		border-collapse: collapse;
		background-color: #5a5a5a;
	}
	caption{
		font-size: 1.5em;
		font-weight: bold;
		padding: 1%;
	}

	th, td{
		border: 1px solid #000;
		padding: 1%;
	}
	th {
		background-color: #f5d643;
		color: #000;
		font-size: 1.15em;
	}
	
	
	.tablet-desktop {
		display: block;
	}

	.mobile, .mobile-nav{
		display: none;
	}
	
	#logo {
		max-height: 10%;
		max-width: 10%
	}
	
	header{
		position: static;
		padding-bottom: 2%;
		height: 20%
	}
	nav{
		background-color: #000
	}
	
	nav li{
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
	}
	
	nav li:last-child {
		border-right: none;
	}
	
	nav li a {
		padding: 0.1em 0.75 em;
	}
	.grid{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}

	article:nth-of-type(2){
	background-color: rgba(204, 204, 204, 0.3);
}

article:nth-of-type(4){
	background-color: rgba(204, 204, 204, 0.3);
}

article:nth-of-type(6){
	background-color: rgba(204, 204, 204, 0.3);
}
}

/* Dekstop */
@media screen and (min-width: 769px){
	header{
	width: 25%;
	float: left;
	padding-bottom: 0;
	height: 30%
	}
	#logo {
		max-height: 30%;
		max-width: 30%
	}
	nav{
		background-color: #000;
		height: 30%;
	}
	
	nav ul{
		text-align: right;
	}
	
	nav li:last-child {
		border-right: none;
	}
	#hero{
		background-color:#000;
	}
	main{
		clear: left;
	}
	
	/* desktop form */ 
	form{
		width: auto;
	}
	
	form-grid{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}
	
	.btn{
		grid-column: 1 / span 3;
	}
}
