body, header, nav, main, footer, h1, div, img, ul, figure, figcaption{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-color: #997966;
}
img {
	max-width: 100%;
	display: block;

}
.hero-image{
	width: 100%
}

#dreaming{
	max-width: 30%;
	max-height: 50%;
}
.frame{
	position: relative;
	max-width: 450 px;
	margin: 2% auto;
}
.pic-text{
	position: absolute;
	bottom: 33px;
	background: rgba(0, 0, 0, .3);
	color: #fff;
	width: 30%;
	padding: 20px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}
*{
	box-sizing: border-box;
}
#logo{
	max-height: 60%;
	max-width: 60%;
}
/* Style rules for mobile viewport */
/* Style rules for header*/
header{
	position: sticky;
	top: 0;
	background-color: #997966;
	height: 190px;
}

header img{
	margin: 0 auto;
}

nav{
	padding: 1%;
	margin-bottom: 1%;

}

main{
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;

}

 nav ul{
	list-style-type:none;
	text-align: center;

}

nav li {
	font-size: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	border-top: 1px solid #fff;

}

nav li:first-child{
	border-top: none;
}

nav li a {
	display: block;
	color: #fff; /* white, rgb(255, 255, 255) */
	padding: .5em 1em;
	text-decoration: none;

}
/* Show mobile class, hide tablet-desktop class */
	.mobile{
		display: block;
	}

	.tablet-desktop{
		display: none;
	}


footer p {
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer a {
	color: #fff;
	text-decoration: none;
}

.external-link {
	color: 660;
	font-weight: bold;
	text-decoration: none;
}

iframe{
	height: 450px;
	width: 100%
}

#sanchoQuote{
	color: red;
	font-family: 'Times New Roman', 'Courier New', Garamond;
	font-style: italic;
}

.quoteCredits{
	font-size: 15px;
	font-style: italic;
}

/* Media Query for Tablet Viewport */
	@media screen and (min-width: 630px){
	
	.tablet-desktop {
		display: block;
	}

	.mobile{
		display: none;
	}
	
	#logo {
		max-height: 10%;
		max-width: 10%
	}
	
	header{
		position: static;
		padding-bottom: 2%;
		height: 20%
	}
	nav{
		background-color: #997966
	}
	
	nav li{
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
	}
	
	nav li:last-child {
		border-right: none;
	}
	
	nav li a {
		padding: 0.1em 0.75 em;
	}
	.grid{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}

	article:nth-of-type(2){
	background-color: rgba(204, 204, 204, 0.3);
}

article:nth-of-type(4){
	background-color: rgba(204, 204, 204, 0.3);
}

article:nth-of-type(6){
	background-color: rgba(204, 204, 204, 0.3);
}
}

/* Dekstop */
@media screen and (min-width: 769px){
	header{
	width: 25%;
	float: left;
	padding-bottom: 0;
	height: 30%
	}
	#logo {
		max-height: 30%;
		max-width: 30%
	}
	nav{
		background-color: #997966;
		height: 30%;
	}
	
	nav ul{
		text-align: right;
	}
	
	nav li:last-child {
		border-right: none;
	}
	#hero{
		background-color:#997966;
	}
	main{
		clear: left;
	}
}